<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form method="post">
        {% csrf_token%}
        {% for field in form %}
            <hr>
                {% if field.label_tag != 'Название:' %}
                     {{field.label_tag}}
                    {{field}}
                    {{field.errors}}
                {% endif %}

            <hr>
        {% endfor %}
        <button type="submit">Сохранить</button>
    </form>
</body>
</html>